{% extends 'base.html' %}

{% block title %}
  Edit Project - {{ project.title }}
{% endblock %}

{% block content %}
<section class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Edit Project</h1>

        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Save Changes</button>
        </form>

        <a class="btn btn-secondary" href="{% url 'project_detail' project.id %}">Cancel</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
