{% extends 'base.html' %}

{% block title %}
  Editando proyecto - {{ project.title }}
{% endblock %}

{% block content %}
<section class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Editar Proyecto</h1>

        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success my-2 form-control">Guardar cambios</button>
          <a class="btn btn-secondary my-2 form-control" href="{% url 'project_detail' project.id %}">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
