{% extends "base.html" %}

{% block title %} Crear Equipo {% endblock %}

{% block content %}
<div class="container mt-5">
<h2>Crear Equipo</h2>
<form method="post">
    {% csrf_token %}
    <p>Estás a punto de crear un equipo, si deseas continuar, pulsa en el botón de Crear debajo, en caso contrario, pulsa Cancelar.</p>
    <button type="submit" class="btn btn-primary form-control">Crear</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary my-2 form-control">Cancelar</a>
</form>
</div>
{% endblock %}
